VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
VITE_TEMPORARY_LOGIN_PASSWORD=WelcomeHDC
VITE_CLOUDINARY_CLOUD_NAME=
VITE_CLOUDINARY_BRAND_FOLDER=hdc-compass

COMPASS_PUBLIC_URL=https://dat-reset.vercel.app
TEAMS_PM_WEBHOOK_URL=
TEAMS_JAIME_WEBHOOK_URL=
CRON_SECRET=
